header {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: var(--main-color); 
  padding: .5rem 1rem;
}

header h1 {
  color: var(--contrast-color);
  font-size: 1.75rem;
}

header nav {
  margin-left: 5rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-right: 1.5rem;
}

header nav ul li a {
  color: var(--contrast-color);
  font-size: 1rem;
}