---
// Imports
import Base from '../layouts/Base.astro';
import Counter from '../components/specifics/Counter.jsx';
import '../styles/pages/about.css';
---
<Base title="About">

  <article>
    <h2>About Page</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Integer enim neque volutpat ac tincidunt vitae semper. Sapien nec sagittis aliquam malesuada bibendum.
      Vivamus at augue eget arcu. Odio ut enim blandit volutpat maecenas volutpat. Diam sollicitudin tempor id eu. Sit
      amet porttitor eget dolor morbi. Eu tincidunt tortor aliquam nulla. Tristique risus nec feugiat in fermentum posuere.
      Lacinia quis vel eros donec ac odio tempor orci. Risus feugiat in ante metus dictum at tempor commodo ullamcorper.
      In hac habitasse platea dictumst. Diam in arcu cursus euismod quis. Dictumst vestibulum rhoncus est pellentesque elit.
      Sapien eget mi proin sed libero. Fringilla ut morbi tincidunt augue. Quam id leo in vitae turpis massa. Imperdiet
      massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Amet aliquam id diam maecenas ultricies mi
      eget mauris. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit.
    </p>

    <p>
      Leo a diam sollicitudin tempor id eu nisl nunc. Mattis pellentesque id nibh tortor id. Lorem ipsum dolor sit amet.
      Morbi enim nunc faucibus a pellentesque sit amet. Tellus integer feugiat scelerisque varius morbi. Tristique et
      egestas quis ipsum suspendisse. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Aliquam purus
      sit amet luctus venenatis lectus magna fringilla urna. Mauris a diam maecenas sed enim ut sem. Venenatis lectus magna
      fringilla urna. Tellus molestie nunc non blandit massa. Ut morbi tincidunt augue interdum velit euismod.
    </p>
      
    <p>
      Eu mi bibendum neque egestas. Maecenas pharetra convallis posuere morbi leo urna molestie. Semper auctor neque vitae
      tempus quam. Ullamcorper sit amet risus nullam eget felis. Ut consequat semper viverra nam libero justo laoreet sit.
      Purus sit amet luctus venenatis lectus magna. Sit amet nisl suscipit adipiscing. Sit amet consectetur adipiscing elit.
      Quisque egestas diam in arcu cursus euismod quis viverra nibh. Sit amet justo donec enim diam vulputate ut pharetra. 
      incidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Viverra nam libero justo laoreet. Enim nec dui
      nunc mattis.
    </p>

  </article>

  <Counter client:load />
</Base>