---
// Imports
import Base from '../layouts/Base.astro';
import Counter from '../components/specifics/Counter.jsx';
import '../styles/pages/index.css';
---
<Base title="Index">
  <h2>Index Page</h2>

  <Counter client:load />
</Base>