---
// Imports
import Base from '../layouts/Base.astro';
import '../styles/pages/test-entries.css';

// Fetch all files in /pages/test-entries/
let testEntries = [];
let noEntriesMessageClass = 'hidden';
try {
  testEntries = await Astro.glob('./test-entries/*.md');
}
catch {
  noEntriesMessageClass = '';
  console.error('No entries in /test-entries.')
}
---
<Base title="test-entries">

  <h1>Test Entries</h1>

  <p class={noEntriesMessageClass}>No test entries found</p>

  <ul>
    {testEntries.map((post) => (
      <li>
        <h2>{post.frontmatter.title}</h2>
        <p>identifier: {post.frontmatter.identifier}</p>
        <a href={'test-entries/'+ post.frontmatter.identifier}>Read more</a>
      </li>
    ))}
  </ul>

</Base>
