---
// Imports
import Base from '../layouts/Base.astro';
import '../styles/pages/test-entries.css';

// Fetch all files in /pages/test-entries/
let testEntries = [];
try {
  testEntries = await Astro.glob('./test-entries/*.md');
}
catch {
  console.error('No entries in /test-entries.')
}
---
<Base title="test-entries">

  <ul>
    {testEntries.map((post) => (
      <li>
        <h1>{post.frontmatter.title}</h1>
        <p>{post.frontmatter.description}</p>
        <a href={'test-entries/'+ post.frontmatter.identifier}>Read more</a>
      </li>
    ))}
  </ul>

</Base>
