---
// Imports
import '../../styles/components/commons/GlobalHeader.css';
---
<header>
  <h1>Astro/Preact Sandbox</h1>

  <nav>
    <ul>
      <li>
        <a href="/">Homepage</a>
      </li>

      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>