---
// Imports
import Base from './Base.astro';
import Counter from '../components/specifics/Counter.jsx';
import '../styles/pages/index.css';

// The content prop gives access to frontmatter in a layout
const { content } = Astro.props;
---
<Base title="Contact">
  <h2>Contact</h2>

  <article>
    <slot />
  </article>

  <Counter client:load />
</Base>