---
// Imports
import Base from '../layouts/Base.astro';
import Counter from '../components/specifics/Counter.jsx';
import '../styles/pages/index.css';

// The content prop gives access to frontmatter in a layout
const { content } = Astro.props;
---
<Base title="Index">
  <h2>{content.title}</h2>

  <p>{content.banner_heading}</p>
  <img src={content.banner_image} />

  <article>
    <slot />
  </article>

  <Counter client:load />
</Base>