---
// Imports
import Base from '../layouts/Base.astro';
import Counter from '../components/specifics/Counter.jsx';
import '../styles/layouts/TestEntry.css';

// Access frontmatter/markdown from source file
const { content } = Astro.props;
---
<Base title="Index">
  <h2>{content.title}</h2>

  <article>
    <slot />
  </article>

  <Counter client:load />
</Base>
