---
import GlobalHeader from '../components/commons/GlobalHeader.astro';
import GlobalFooter from '../components/commons/GlobalFooter.astro';
import '../styles/layouts/TestEntry.css';

// Access frontmatter/markdown from source file
const { content } = Astro.props;
---
<html>
  <head>
    <title>Test Entry | Astro Preact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global stylesheets -->
    <style is:global>@import '../styles/global.css';</style>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;700;800&display=swap" />
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;700;800&display=swap" />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;700;800&display=swap" />
    </noscript>
  </head>  

  <body class="test-entry">
    <GlobalHeader />

    <main>
      <article>

        <img src={content.banner_image} alt={content.banner_image_alt_description} />
        <h2>{content.title}</h2>
        <slot /> <!-- Child passed is injected here -->
      </article>
    </main>

    <GlobalFooter />
  </body>
</html>
